{%include "home/bootstrap.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="h">
        <button onclick="window.location='login/' " type="button" class="btn btn-primary mx-2">Edit Profile</button>
        <button onclick="window.location='upload_image/' " type="button" class="btn btn-secondary">Upload Image</button>
    </div>
</body>
</html>