{%include "home/bootstrap.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class ="container mt-5">
        <form class="col-6  mx-auto card" method="post" enctype="multipart/form-data">
          {% csrf_token %}
                <div class="my-2" ><h2>Upload Image</h2></div>
                <div class="mt-2">
                  <label for="location_names" class = "form-label">Location Name</label>
                  <input name="location_name" type="text" class="form-control" placeholder="Enter Location of the Image" required>      <!--  it take recipe name as input -->
                </div>
                <div class="mt-2 mb-2">
                  <label for="location_images">Location Image</label>
                  <input name="location_image" type="file" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success mt-2">Add</button>
              </form>
            </div>
            
</body>
</html>